/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$base-color-text-black: #000000;
$base-color-text-white: #ffffff;
$bg-basic-green: #68b738;
$text-uppercase: uppercase;
$text-lowercase: lowercase;
