.input-list-data__item {
  font-size: 16px;
  text-transform: $text-uppercase;
}

.input-list-data__field {
  font-size: 16px;
  line-height: 18px;
  color: $base-color-text;
  text-transform: $text-uppercase;
}
