.input-list {
  text-transform: $text-uppercase;
  font-weight: 400;
}

.input-list__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $base-color-text-black;
  text-transform: none;
}

.input-list__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.input-list__field {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $base-color-text;
  text-transform: $text-uppercase;
}

// .input-list__field::after {
//   content: "";
//   position: absolute;
//   display: block;
//   mask-image: url("../../images/icons/stack.svg#mail-icon");
//   mask-repeat: no-repeat;
//   background-color: #b75252;
//   width: 18px;
//   height: 13px;
// }

// .input-list__icon:focus::after {
//   background-color: #68B738;
// }

// .input-list__icon:default::after {
//   background-color: #FF8282;
// }
