.main-header {
  font-weight: 400;
}

// .main-header__icon-mobile {
//   display: inline-block;
//   top: 13px;
//   left: 20px;
// }

.main-header__icon-mobile:hover {
  opacity: 0.8;
}

.main-header__icon-mobile:focus {
  opacity: 0.6;
}
