.option-list__item {
  position: relative;
  background-color: #d9d9d9;
}

.option-list__item-title {
  font-family: $second-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $base-color-text-black;
  text-transform: $text-uppercase;
  text-align: center;
}

.option-list__item-slogan {
  font-family: $primary-font;
  font-weight: 400;
}

.option-list__item-link {
  position: relative;
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $base-color-text-black;
  text-transform: $text-uppercase;
  text-align: center;
}

.option-list__item-link:focus {
  opacity: 0.3;
}


// .option-list__icon-cat-slim::before {
//   content: "";
//   border-radius: 50%;
//   // height: 50px;
//   // width: 50px;
//   background-size: 50px 50px;
//   background-position: center;
//   background-color: #68B738;
//   background-repeat: no-repeat;
//   fill: #000;
//   // top: 24px;
//   // left: 20px;
// }

.option-list__icon-cat-slim {
  display: block;
}

@media (min-width: 768px) {
  .option-list__icon-cat-slim {
    background-size: 200px 211px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1440px) {
  .option-list__icon-cat-slim {
    background-size: 100px 106px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.option-list__icon-cat-pro {
  display: block;
}

@media (min-width: 768px) {
  .option-list__icon-cat-pro {
    background-size: 268px 200px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1440px) {
  .option-list__icon-cat-pro {
    background-size: 134px 100px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.option-list__arrow {
  position: absolute;
  mask-image: url(../../images/icons/arrow.svg);
  width: 32px;
  height: 10px;
  top: 7px;
  mask-repeat: no-repeat;
  margin-left: 15px;
  background-color: #000000;
}

@media (min-width: 768px) {
  .option-list__arrow {
    position: absolute;
    top: 9px;
    margin-left: 25px;
  }
}

@media (min-width: 1440px) {
  .option-list__arrow {
    position: absolute;
    top: 9px;
    margin-left: 25px;
  }
}
