.option-list__item {
  background-color: #d9d9d9;
}

.option-list__item-title {
  font-family: $second-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $base-color-text-black;
  text-transform: $text-uppercase;
  text-align: center;
}

.option-list__item-slogan {
  font-family: $primary-font;
  font-weight: 400;
}

.option-list__item-link {
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $base-color-text-black;
  text-transform: $text-uppercase;
  text-align: center;
}
