.programs__container {
  font-family: $second-font;
  font-weight: 400;
}

.programs__title {
  font-size: 36px;
  line-height: 36px;
  color: $base-color-text-black;
  font-weight: 400;
}

.programs__description {
  font-size: 14px;
  color: $base-color-text-black;
  text-transform: $text-uppercase;
  font-weight: 400;
}
